<html>
<head>

        <style>
        .cover-image{
            background-image: url("https://s3-ap-northeast-1.amazonaws.com/okphoto/background/grad_pastel.jpg?X-Amz-Date=20151228T151915Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=ad6c70d68125058988d37ae6582c7279cf83c3a27e64f5bbc6cd2afa277b3ca5&X-Amz-Credential=ASIAIWLBX5EZFD5TDFEA/20151228/ap-northeast-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEI///////////wEakALYXqdGhjZ2%2BdC9e8XQa%2BOzyyn%2BjfnVdRo%2BMFS/vW92eX2g1YjqwTS8sNRCAZRTL%2BOB9004y3zVymYEn%2BqeXu9dTxOV5h8eQs7qYkhwcVUPVy5FVICPV7VWaJ%2BG0vmcEFEzGI8pPARIc6UDt/x86veo3KbDWcS1O4HVGMpQrWb/GkkYMrVPV5fXYy72tCiRF0pT8aO3b6aJqKMU0Ard85Ufu3hcoHR7ftv35cEs6MVQonUyewOuD7VQDrU/uU/Jo2q68WL7KlrrnAnu/QhQkJ2kVIU1cofsqpJjPnX21GYUcyiILZGq/FDgdLLzHhkvRxZuyNbhPRS2Tp5GEmQKGuyMqYnHrc2WH0VHI98s13XqliCuzoS0BQ%3D%3D");
            background-repeat:no-repeat;
            background-size:cover;
        }

        </style>
</head>


<body>




    <div class="cover">
    <%= render :partial => 'main/brandMenu' %>

      <div class="cover-image">

      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>OK Billiard
              <br>
            </h1>
            <p>환영합니다!</p>
          </div>
        </div>
      </div>
    </div>

    <!-- <footer class="section section">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h1>Footer header</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
              <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
              <br>Ut enim ad minim veniam, quis nostrud</p>
          </div>
          <div class="col-sm-6">

          </div>
        </div>
      </div>
    </footer> -->


    <div class="modal fade" id="loginmodal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

            <h4 class="modal-title">Login
              <br>
            </h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputEmail3" class="control-label">Email</label>
                </div>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputPassword3" class="control-label">Password</label>
                </div>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
              </div>

          </div>

            <div class="modal-footer"><button type="button" id="_login_button" class="btn btn-default" data-dismiss="modal">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>


</body>

<script>
$(document).on("click","#_login_button",
    function(){
        _email=$("#inputEmail3").val();
        _pw=$("#inputPassword3").val();
        $.ajax({
            data: { email: _email},
            url: "/main/login",
            dataType:"json",
            success: function(res){
                alert(res);
                }
        });
    }
);

</script>



</html>